# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
build/
android/
ios/
web/

# Python
__pycache__/
*.py[cod]
*.db
.db-shm
.db-wal
.env
venv/
.venv/

# MOSS TTS cache
moss_tts/.cache/

# Misc
.DS_Store
*.log
